<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./layout/adminlayout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div layout:fragment="admin">
        <div class="container">
        <form action="#" th:action="@{/author}" th:object="${author}" method="post">

            <div class="form-group row mt-5">
                <label for="name" class="col-sm-2 form-label">Name</label>
                <div class="col-sm-8">
                    <input id="name" th:field="*{name}" type="text" class="form-control">

                    <p th:if="${#fields.errors('name')}" class="text-danger" th:errors="*{name}"></p>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>


        </form>

        </div>
    </div>
</body>
</html>